@font-face {
  font-family: "main_font";
  src: url("./font/PixelarRegular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "main_font";
}

.main {
  display: flex;
  height: 100%;
}

.left,
.right {
  height: 100%;
  width: 50%;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left_img {
  display: inline-block;
  height: 335px;
}
.left_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* object-fit: cover;
  -webkit-object-fit: cover;
  -moz-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover; */
}
.left {
  padding: 0 60px;
}
.left h1 {
  padding: 40px 0;
  text-align: center;
  font-size: 32px;
  width: 60%;
}
.left .listen {
  text-align: center;
}
.left .listen a {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: 700;
  color: #000;
}
.left a {
  padding: 12px 80px;
  border: 1px solid #000000;
  display: inline-block;
  font-size: 22px;
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  -o-transition: 0.4s all;
}
.left .buy {
  margin: 20px 0;
  text-align: center;
}
.left .buy a {
  background-color: #000;
  color: #fff;
  width: 210px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.left .buy a:hover {
  color: #000;
  background-color: #fff;
}
.left .listen a:hover {
  color: #ffff;
  background-color: #000;
}
.link_main {
  margin-top: 20px;
}

.right img {
  height: 670px;
  width: 100%;
  /* object-fit: cover;
  -webkit-object-fit: cover;
  -moz-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover; */
}

.bottom {
  display: flex;
}
.bottom_left,
.bottom_right {
  width: 50%;
}
.bottom_left img {
  width: 100%;
  height: 100%;
  /* object-fit: cover;
  -webkit-object-fit: cover;
  -moz-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover; */
}
.bottom_right {
  padding: 35px 55px 0 55px;
}
.bottom_right p {
  font-size: 20px;
  margin-top: 35px;
}
.mb_20 {
  margin-bottom: 25px;
}
.line {
  width: 100%;
  display: inline-block;
  border: 1px solid #000;
}
.copy {
  padding: 50px 0;
}
.control_2 {
  display: none;
}
@media only screen and (max-width: 992px) {
  .right img {
    height: 731px;
  }
}
@media only screen and (max-width: 576px) {
  .main,
  .bottom {
    flex-wrap: wrap;
  }
  .left,
  .right,
  .bottom_left,
  .bottom_right {
    width: 100%;
  }
  .bottom_left {
    order: 1;
  }
  .left h1 {
    width: 100%;
  }
  .main .right img,
  .left_img img {
    object-fit: contain;
    height: 100%;
  }

  .bottom_right p,
  .bottom_right h6 {
    margin-top: 25px;
  }
  .bottom_right {
    padding: 35px 15px 0 15px;
  }
  .left {
    padding: 0 20px;
  }
  .control {
    display: none;
  }
  .d-sm-none {
    display: none;
  }
  .control_2 {
    display: block;
    padding: 40px 20px 10px 20px;
  }
  .control_2 .copy {
    padding: 20px 0 0px 0;
  }
  .control_2 p {
    line-height: 1.8;
  }
}
